
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00bcd4;
}

nav a:visited {
    color: #7b68ee;
}

nav a:active {
    color: red;
}


.video-container{
    margin: 120px auto;
    text-align: center;
}

video, audio {
    width: 80%;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 8px;
}


.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image-item {
    text-align: center;
    transition: transform 0.3s ease;
}

.image-item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.image-item:hover {
    transform: scale(1.2); 
}


.sprite-icon {
    background: url('sprite.png') no-repeat;
    width: 50px;
    height: 50px;
    background-position: -10px -10px; /* Positioning a sprite */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


a[href*="nav"] {
    color: green;
}

.images-container div {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
